.main {
  margin: 0;
  padding: 15px 0 107px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 35px;
  align-items: center;
  position: relative;
  color: #1E1D1D;
  z-index: 2;
}

.main__cat {
  position: absolute;
  top: 46px;
  left: 31px;
  z-index: 1;
}

.main__title {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 90%;
  z-index: 2;
  text-align: center;
}

.main__text-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* font-style: normal; */
  column-gap: 5px;
}

.main__text-advice {
  margin: 0 0 0 95px;
  padding: 0;
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
}

.main__label {
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  text-decoration: underline;
}

.main__invisible-input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: inset(0 0 0 0);
  opacity: 0;
}

/* .main__future-input {
  text-decoration: underline;
} */

/* 
.main__btn-block {
  position: relative;
}

.main__btn {
  position: relative;
  width: 457px;
}

.main__btn_help {
  transition: all 2s;
  transition-delay: 1s, 0s;
  opacity: 0;
  position: absolute;
  top: 64px;
  left: 0;
}

.main__btn:hover+.main__btn_help {
  opacity: 1;
} */