.main {
  padding: 160px 117px;
  position: relative;
  color: #1E1D1D;
}

.main__human {
  position: absolute;
  left: 0;
  top: -100px;
  z-index: 1;
}

.main__lines {
  position: absolute;
  z-index: 1;
}

.main__lines_left {
  left: 0;
  top: 860px;
}

.main__lines_right {
  right: 0;
  top: 1370px;
}

.main__title {
  position: relative;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 95px;
  margin-bottom: 80px;
  z-index: 2;
  text-align: center;
}

.main__link {
  text-decoration: none;
  color: #1E1D1D;
}

.main__text-box {
  display: flex;
  z-index: 2;
  align-items: center;
}

.main__text-advice {
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 50px;
  margin: 0 30px 0 0;
}

.main__btn-block {
  position: relative;
}

.main__btn {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  border: none;
  background: linear-gradient(180deg, #CE8EC0 0%, rgba(194, 139, 228, 0.63) 77.16%);
  border-radius: 20px;
  width: 273px;
  height: 64px;
  cursor: pointer;
}

.main__btn_show-more {
  display: block;
  width: 551px;
  height: 114px;
  font-weight: 500;
  font-size: 45px;
  line-height: 53px;
  margin: 0 auto;
}

.main__btn_help {
  transition: all 2s;
  transition-delay: 1s, 0s;
  opacity: 0;
  position: absolute;
  top: 64px;
  left: 0;
}

.main__btn-block:hover .main__btn_help {
  opacity: 1;
}

.main__memebox {
  display: grid;
  margin-top: 125px;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
  z-index: 2;
}
