.saved-meme {
  padding: 20px 30px 40px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}

.saved-meme__container {
  padding: 62px 0 0;
  width: 100%;
  display: flex;
  justify-content: center;
  column-gap: 60px;
  align-items: center;
  box-sizing: border-box;
}

.saved-meme__image {
  width: auto;
  height: auto;
  object-fit: cover;
  object-position: center;
  max-height: 556px;
  border-radius: 20px;
}

.saved-meme__btn-save {
  width: 500px;
  /* margin-top: 50px; */
  color: #1e1d1d;
  font-size: 20px;
  line-height: 1.2;
}
.saved-meme-btns-wrapper {
  display: flex;
  flex-direction: column;
}

.saved-meme__btn-save:first-child {
  margin-bottom: 29px;
}

.saved-meme-share-btns-container {
  margin-top: 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.saved-meme-share-btns-container > div {
  display: inline-block;
  margin-right: 25px;
}

.saved-meme-share-btns-container div:hover {
  cursor: pointer;
}

.saved-meme-share-btns-container div:last-child {
  margin-right: 0;
}
.dropdown-btn-wrapper {
  position: relative;
  display: flex;
  margin-bottom: 29px;
  height: 74px;
}

.download-options {
  margin-top: 82px;
  width: 500px;
  border-radius: 10px;
  background-color: #ffff;
  position: absolute;
  z-index: 2;
  padding: 30px 20px;
  box-sizing: border-box;
}

.download-option {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  color: #000;
  font-size: 20px;
  font-family: "Montserrat";
  padding: 10px 20px;
}
.download-option:hover {
  border-radius: 20px;
  border: 1px solid #9d0095;
  cursor: pointer;
}

.download-option:last-child {
  margin-bottom: 0;
}

.download-option img {
  margin-right: 10px;
}
.download-option span {
  display: flex;
  align-items: center;
  text-align: center;
  min-height: 40px;
}

@media (max-width: 1080px) {
  .saved-meme__container {
    display: flex;
    flex-direction: column;
  }
  .saved-meme-btns-wrapper {
    padding-top: 30px;
  }
}
