.saved-meme {
    padding: 20px 30px 40px;
    width: 100%;
    box-sizing: border-box;
    position: relative;
}

.saved-meme__container {
    padding: 62px 0 0;
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    column-gap: 60px;
    align-items: center;
    box-sizing: border-box;
}

.saved-meme__image {
    width: auto;
    height: auto;
    object-fit: cover;
    object-position: center;
    max-height: 556px;
    border-radius: 20px;
}

.saved-meme__btn-save {
    width: 500px;
    /* margin-top: 50px; */
}