.main-editor {
  padding: 20px 30px 20px;
  width: 100%;
  box-sizing: border-box;
}

.editor {
  padding: 81px 0 0px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}

/* .editor__panel_type_top {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 15px;
  left: 0;
}

.editor__panel_type_bottom {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 15px;
  left: 0px;
} */

.editor__canvas {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 556px;
  width: 675px;
}

.editor__image {
  font-weight: 500;
  font-size: 70px;
  line-height: 83px;
  white-space: pre-wrap;
  word-break: break-all
}

.editor__box {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 42px;
  align-items: center;
  height: 556px;
  width: 100%;
}

.editor__text-form {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* row-gap: 46px; */
  /* align-items: flex-end; */
}

.editor__fieldset {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: none;
}

/* .editor__text {
  margin: 0;
  background-color: transparent;
  border: none;
  color: transparent;
  box-sizing: border-box;
  padding: 0;
  overflow: hidden;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
} */

/* .editor__text::-webkit-input-placeholder,
.editor__text::-moz-placeholder,
.editor__text::-ms-input-placeholder,
.editor__text::placeholder {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  color: #FFFFFF;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding-top: 20px;
  margin: 0;
  text-align: center;
} */

/* .editor__text:focus {
  border: 2px solid yellow;
  outline: none;
} */

.editor__color {
  margin-bottom: 20px;
}

.editor-meme__nav {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-left: 30px;
}

.editor-meme__link {
  font-weight: 300;
  font-size: 30px;
  line-height: 36px;
  color: #1E1D1D;
  text-decoration: none;
  margin-right: 5px;
}

.editor-meme__span {
  margin-left: 5px;
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
}

.icon {
  width: 25px;
}

.icon-size {
  width: 40px;
  height: 40px;
}

.editor__text-control-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 700px;
}

.editor__bth-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  max-width: 442px;
  padding: 0;
  margin: 0;
}

.editor__bth {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: "Rubik";
  font-size: 24px;
  line-height: 25px;
  text-align: center;
  color: #000;
  background-color: transparent;
  border: none;
  max-width: 160px;
  row-gap: 15px;
  cursor: pointer;
}

.editor__bth_type_outside-text {
  position: relative;
}

.editor__bth-list {
  font-size: 24px;
  position: absolute;
  list-style: none;
  width: 245px;
  height: 95px;
  border-radius: 20px 10px 10px 0;
  border: solid 1px #AD27DC;
  background-color: #FCFDB5;
  right: -210px;
  bottom: 67px;
  padding: 7px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 3;
}

.editor__bth-list-element:hover {
  font-weight: 500;
}

.editor__bth-img {
  margin: 0;
  padding: 0;
  position: relative;
  height: 60px;
}

.editor__bth-main-image {
  border-radius: 10px;

  height: 60px;
  width: 60px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.editor__bth-main-image_type_outside-text {
  background-image: url("../../images/editor/outside-text.svg");
}

.editor__bth-main-image_type_add-text {
  background-image: url("../../images/editor/add-text-main-part.svg");
}

.editor__bth-main-image_type_add-img {
  background-image: url("../../images/editor/add-image-main-part.svg");
}

.editor__bth-plus {
  position: absolute;
  bottom: -9px;
  right: 0px;
  border-radius: 50%;
  height: 27px;
  width: 27px;
  z-index: 2;
  background-image: url("../../images/editor/add-something.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
}

.editor__bth:hover .editor__bth-main-image,
.editor__bth:hover .editor__bth-plus {
  background-color: #DFDED6;
}

.editor__bth:active .editor__bth-main-image,
.editor__bth:active .editor__bth-plus {
  background-color: transparent;
}

.editor__bth:active {
  color: #AD27DC;
}

.editor__bth:active .editor__bth-main-image_type_outside {
  background-image: url("../../images/editor/outside-text-active.svg");
}

.editor__bth:active .editor__bth-main-image_type_add-text {
  background-image: url("../../images/editor/add-text-main-part-active.svg");
}

.editor__bth:active .editor__bth-main-image_type_add-img {
  background-image: url("../../images/editor/add-image-main-part-active.svg");
}

.editor__bth:active .editor__bth-plus {
  background-image: url("../../images/editor/add-something-active.svg");
}

.editor__bth-text {
  margin: 0;
  padding: 0;
}

/* .editor__bth_type_outside-text {
  row-gap: 15px;
} */

.editor__btn_type_create-mem {
  width: 500px;
}