.main-editor {
  padding: 25px 30px 66px;
  width: 100%;
  box-sizing: border-box;
}

.editor {
  padding: 138px 124px 0 87px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}

.editor__panel_type_top {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 100px;
  left: 70px;
  display: none;
}

.editor__panel_type_bottom {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 100px;
  left: 70px;
  display: none;
}

.editor__panel_typr_open {
  display: block;
}

/* .editor__title {
  align-self: flex-start;
  margin-top: 50px;
  margin: 50px 0 40px;
  margin: 0;
  padding: 0 0 70px;
  font-weight: 400;
  font-size: 60px;
  line-height: 71px;
} */

/* .editor__boxes {
  padding: 0 0 110px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  column-gap: 60px;
  align-items: center;
} */

.editor__image {
  /* object-fit: cover;
  object-position: center; */
  font-weight: 500;
  font-size: 70px;
  line-height: 83px;
  /* border-radius: 20px; */
  white-space: pre-wrap;
  word-break: break-all
}


.editor__box {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 558px;
  align-items: flex-start;
  margin: 0;
  padding: 0;
}

.editor__text-form {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  row-gap: 40px;
  align-items: flex-start;
}

.editor__text {
  width: 500px;
  height: 75px;
  box-sizing: border-box;
  margin: 0;
  background: #fef8ff;
  border: 1px solid #000000;
  border-radius: 20px;
  font-weight: 400;
  font-size: 40px;
  line-height: 47px;
  padding: 13px 10px;
  text-align: center;
}

/* .editor__text:focus+.editor__panel_type_top {
  display: block;
} */


/* .editor__text_top {
  margin-bottom: 60px;
} */

.editor__color {
  margin-bottom: 20px;
}

.editor-meme__nav {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-left: 30px;
}

.editor-meme__link {
  font-weight: 300;
  font-size: 30px;
  line-height: 36px;
  color: #1E1D1D;
  text-decoration: none;
  margin-right: 5px;
}

.editor-meme__span {
  margin-left: 5px;
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
}

.icon {
  width: 25px;
}

.icon-size {
  width: 40px;
  height: 40px;
}

.editor__text-control-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 700px;
}

.editor__btn {
  margin: 124px 0 0;
  width: 551px;
  height: 114px;
  padding: 0;
  font-size: 45px;
  line-height: 53px;
}