.main-editor {
  padding: 25px 30px 62px;
  width: 100%;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Noto Sans', sans-serif;
  font-family: 'Oswald', sans-serif;
  font-family: 'Pacifico', cursive;
  font-family: 'Playfair Display', serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Rubik', sans-serif;
}

.editor {
  padding: 142px 155px 0 0px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}

.editor__panel_type_top {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 66px;
  left: 33px;
}

.editor__panel_type_bottom {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 66px;
  left: 33px;
}

.editor__image {
  font-weight: 500;
  font-size: 70px;
  line-height: 83px;
  white-space: pre-wrap;
  word-break: break-all
}


.editor__box {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 80px;
  align-items: flex-end;
  height: 556px;
}

.editor__text-form {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 46px;
  align-items: flex-end;
}

.editor__text {
  width: 500px;
  height: 59px;
  box-sizing: border-box;
  margin: 0;
  background: #fef8ff;
  border: 1px solid #000000;
  border-radius: 20px;
  font-weight: 400;
  font-size: 40px;
  line-height: 47px;
  padding: 5px 10px;
  text-align: center;
}

.editor__color {
  margin-bottom: 20px;
}

.editor-meme__nav {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-left: 30px;
}

.editor-meme__link {
  font-weight: 300;
  font-size: 30px;
  line-height: 36px;
  color: #1E1D1D;
  text-decoration: none;
  margin-right: 5px;
}

.editor-meme__span {
  margin-left: 5px;
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
}

.icon {
  width: 25px;
}

.icon-size {
  width: 40px;
  height: 40px;
}

.editor__text-control-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 700px;
}

.editor__btn {
  width: 500px;
}