.editor-meme {
  padding: 55px 30px;
}
.editor-meme__hero {
  display: flex;
}
.editor-meme__title {
  font-weight: 400;
  font-size: 60px;
  line-height: 71px;
}
.editor-meme__image {
  border-radius: 20px;
}
.editor-meme__column_left {
  position: relative;
  margin-right: 83px;
}
.editor__input {
  box-sizing: border-box;
  font-weight: 600;
  font-size: 70px;
  line-height: 83px;
  -webkit-text-fill-color: #FFF;
  -webkit-text-stroke-color: #000;
  -webkit-text-stroke-width: 2.00px; 
  position: absolute;
  width: 100%;
  border: none;
  height: 109px;
  background-color: rgba(29, 27, 27, 0.5);
  padding: 13px;
  text-align: center;
}
.editor__input_top {
  border-radius: 20px 20px 0 0;
}
.editor__input_bottom {
  border-radius: 0 0 20px 20px;
  bottom: 4px;
}
.editor-meme__column_right {
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.editor-meme__button {
  width: 500px;
  font-size: 40px;
  background-color: #FEF8FF;
  cursor: pointer;
  border: 1px solid #000000;
  border-radius: 20px;
  height: 87px;
}
.editor-meme__button_top {
  margin-bottom: 112px;
}
