.selector {
    width: 405px;
    height: 350px;
    float: left;
}

.change-list .filtered {
    min-height: 100px;
}

.selector select {
    width: 188px;
    height: 200px;
    flex: 1 0 auto;
}

.selector-available, .selector-chosen {
    float: left;
    width: 200px;
    height: 380px;
    min-width: 80px;
    min-height: 50px;
    text-align: center;
    margin-bottom: 5px;
}

.selector .selector-available input {
    width: 155px;
}
