.meme__hashtags {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    column-gap: 25px;
    align-items: flex-start;
    flex-wrap: wrap;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    align-self: flex-start;
    padding: 0;
}

.meme__hashtags_type_main {
    max-height: 50px;
    overflow: hidden;
}

.meme__hashtags_type_hidden {
    position: absolute;
    top: 390px;
    display: none;
    /* background-color: #FDFFA1;
    border-radius: 20px; */
}

.meme__hashtags_type_main:hover {
    opacity: 0;
}

.meme__hashtags_type_main:hover+.meme__hashtags_type_hidden {
    display: flex;
    z-index: 1;
}