.extra-image__box {
    position: absolute;
    resize: both;
    overflow: hidden;
}

.image__resizer {
    background-image: url("../../images/editor/change-size.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 25px;
    width: 25px;
    z-index: 2;
    position: relative;
    pointer-events: none;
}

.image__delete-text {
    margin: 0;
    padding: 0;
    border: none;
    background-image: url("../../images/editor/delete-text.svg");
    background-position: center;
    background-repeat: no-repeat;
    height: 19px;
    width: 19px;
    position: relative;
    border-radius: 50%;
    z-index: 2;
    cursor: pointer;
}