.groups_wrap {
  border: 1px solid #9d0095;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 35px;
  max-width: 520px;
}
.create_group {
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
}
.header_group {
  display: flex;
  justify-content: space-between;
}
.search_group {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.my_groups_wrap {
  display: flex;
  gap: 20px;
  flex-direction: column;
  position: relative;
}
.my_groups {
  max-height: 80px;
  overflow: auto;
}

@media screen and (max-width: 1080px) {
  .groups_wrap {
    max-height: 375px;
    min-width: 385px;
  }
}
@media screen and (max-width: 780px) {
  .groups_wrap {
    padding: 30px 20px;
    min-width: 350px;
  }
}
@media screen and (max-width: 430px) {
}
@media screen and (max-width: 375.5px) {
  .groups_wrap {
    margin: 0;
    border: none;
    padding: 0;
    min-width: auto;
  }

  .my_groups {
    max-height: 120px;
  }
}
