.dim_filter {
  background-color: rgba(255, 255, 255, 0.407);
  left: 0;
  top: 0;
  position: absolute;
  z-index: 10;
  width: 100vw;
  height: 100vh;
}

.personal_info_all {
  border: 1px solid #9d0095;
  border-radius: 20px;
  box-sizing: border-box;
  max-width: 450px;
  padding-left: 22px;
  padding-top: 30px;
  padding-right: 40px;
  padding-bottom: 41px;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.personal_info_change {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.btn_change {
  background: none;
  border: none;
  font-family: "Rubik";
}

.page {
  background-color: white;
}

.change_me_info {
  position: absolute;
  z-index: 11;
  left: 350px;
  top: 210px;
  border: 1px solid #9d0095;
  background-color: white;
  width: 345px;
  border-radius: 20px;
  padding-left: 30px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  padding-bottom: 39px;
}
.reverse_array {
  transform: rotate(0);
}
.unreverse_array {
  transform: rotate(180deg);
}
@media screen and (max-width: 1080px) {
  .personal_account {
    display: flex;
    flex-direction: column;
  }
  .personal_info_change > h2 {
    font-size: 20px;
    font-weight: 500;
  }
  .personal_info_all {
    width: fit-content;
    border: 1px solid #9d0095;
    border-radius: 20px;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    gap: 35px;
    margin-right: 0px;
    margin-top: 29px;
    padding: 30px 30px 41px 15px;
  }
  .personal_info_all > h1 {
    box-sizing: border-box;
    font-size: 25px;
    font-weight: 500;
    display: inline-flex;
  }
}
@media screen and (max-width: 750px) {
  .personal_account {
    display: flex;
    flex-direction: column;
  }

  .personal_info_all {
    width: fit-content;
    border: 1px solid #9d0095;
    border-radius: 20px;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    gap: 35px;
    margin-right: 0px;
    margin-top: 29px;
    padding: 30px 30px 41px 15px;
  }
  .personal_info_all > h1 {
    box-sizing: border-box;
    font-size: 25px;
    font-weight: 500;
    display: inline-flex;
  }

  .change_me_info {
    align-items: flex-start;
    background-color: #fff;
    border: 1px solid #9d0095;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    left: 50%;
    padding-bottom: 39px;
    padding-left: 30px;
    padding-top: 30px;
    position: absolute;
    top: 210px;
    width: 226px;
    z-index: 11;
    transform: translate(-50%, 0%);
  }
  .personal_info_change > h2 {
    font-size: 20px;
    font-weight: 500;
  }
}
@media screen and (max-width: 375px) {
  .personal_account {
    display: flex;
    flex-direction: column;
  }

  .personal_info_all {
    border: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    /* width: 90%; */
    padding: 0 0 0 15px;
    /* height: auto; */
  }

  .change_me_info {
    align-items: flex-start;
    background-color: #fff;
    border: 1px solid #9d0095;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    left: 50%;
    padding-bottom: 39px;
    padding-left: 30px;
    padding-top: 30px;
    position: absolute;
    top: 210px;
    width: 226px;
    z-index: 11;
    transform: translate(-50%, 0%);
  }
}
