.search_component {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 20px;
  border: 1px solid #d09bd5;
  width: 100%;
  height: 73px;
}

.search_input {
  height: 42px;
  position: relative;
  z-index: 1;
  border-radius: 20px;
  border: none;
  width: 80%;
}
.search_input:focus {
  outline: none;
}

.text_style {
  font-size: 16px;
  font-weight: 400px;
  padding: 0 20px;
}
