.textarea__moving {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: grab;
    border-style: double dashed dashed;
    border-width: 10px 1px 1px;
    border-color: transparent;
}

.textarea__moving:hover {
    border-color: #EBFF00;
}

.textarea__moving:active {
    cursor: grabbing;
}

.textarea__text {
    margin: 0;
    background-color: transparent;
    border: none;
    box-sizing: border-box;
    overflow: hidden;
    line-height: 1.2;
    resize: horizontal;
    text-align: center;
    padding-top: 12px;
}

.textarea__text:focus {
    outline: none;
}

.textarea__text:focus .textarea__text::-webkit-input-placeholder,
.textarea__text::-moz-placeholder,
.textarea__text::-ms-input-placeholder,
.textarea__text::placeholder {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    -webkit-text-fill-color: #FFFFFF;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    text-align: center;
}

.textarea__panel {
    margin: 0;
    padding: 0;
    position: absolute;
    /* top: 15px; */
    left: 0;
}