.memesbox {
  margin: 0;
  padding: 0 0 95px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 40px;
  align-items: center;
  position: relative;
}

.memesbox__container {
  margin: 0;
  padding: 0 30px 0;
  width: 100%;
  display: grid;
  justify-content: space-around;
  z-index: 2;
  grid-template-columns: repeat(auto-fit, minmax(423px, 453px));
  column-gap: 30px;
  row-gap: 25px;
  box-sizing: border-box;
}

.memesbox__btn-show-more {
  width: 457px;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  color: #1E1D1D;
}

.memesbox__up {
  margin: 0;
  padding: 0;
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  row-gap: 6px;
  text-decoration: none;
  cursor: pointer;
  z-index: 2;
  position: fixed;
  bottom: 50px;
  right: 30px;
  background-color: #fcfdb5;
  border-radius: 50%;
  border: 2px solid #9d0095;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  width: 101px;
  height: 101px;
}

.memesbox__up:hover {
  background-color: #fdff9b;
}

.memesbox__up:active {
  background-color: #fcff5e;
}

.memesbox__up_type_fixed {
  display: flex;
}

.memesbox__up_type_absolute {
  position: absolute;
  bottom: 75px;
  right: 30px;
}

.memesbox__up-arrow {
  padding: 14px 0 0;
  height: 25px;
  width: 32px;
}

.memesbox__up-text {
  margin: 0;
  margin-top: 7px;
  padding: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4px;
  color: #1e1d1d;
}
