.memesbox {
    margin: 0;
    padding: 0 30px 107px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 86px;
    align-items: center;
    position: relative;
}

.memesbox__container {
    margin: 0;
    padding: 0;
    width: 100%;
    display: grid;
    justify-content: space-between;
    z-index: 2;
    grid-template-columns: repeat(auto-fit, minmax(423px, 453px));
    grid-template-rows: repeat(auto-fit, minmax(auto, 440px));
    column-gap: 30px;
    row-gap: 50px;
}


.memesbox__lines {
    position: absolute;
    z-index: 1;
}

.memesbox__lines_left {
    left: 0;
    top: 470px;
}

.memesbox__lines_right {
    right: 0;
    top: 1100px;
}

.memesbox__btn-show-more {
    width: 457px;
}

.memesbox__up {
    margin: 0;
    padding: 0;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    row-gap: 6px;
    text-decoration: none;
    cursor: pointer;
    z-index: 2;
    position: fixed;
    bottom: 50px;
    right: 30px;
    background-image: url(../../images/circle.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 101px;
    height: 101px;
}

.memesbox__up_type_fixed {
    display: flex;
}

.memesbox__up_type_absolute {
    position: absolute;
    bottom: 92px;
    right: 30px;
}

.memesbox__up-arrow {
    padding: 14px 0 0;
    height: 25px;
    width: 32px;
}

.memesbox__up-text {
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    color: #1E1D1D;
}