.wrap_content {
  padding: 0 0 116px 0;
  width: 80%;
  max-width: 80%;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
}
.wrap_background_form {
  width: 100%;
  background-color: #ffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}
.wrap_search_panel {
  width: 98%;
  background-color: #fff;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border: 1px solid #d09bd5;
  border-radius: 20px;
}

.form_search_panel {
  background-color: #fff;
  flex: auto;
  overflow: auto;
  flex-wrap: wrap;
  width: 98%;
  max-width: 98%;
  position: relative;
  display: flex;
  z-index: 3;
  flex-direction: row;
  border-radius: 20px;
  border: none;
}
.search_input {
  height: 78px;
  border: none;
  border-radius: 20px;
  font-size: 36px;
  padding: 0 10px;
  flex-grow: 1;
  outline: none;
  z-index: 3;
}
.button_form {
  width: 82px;
  height: 78px;
  border: none;
  border-radius: 19px;
  outline: none;
  top: 0;
  right: 0;
  background-image: linear-gradient(#ce8ec0 100%, #c28be4b0 69%, #c28be4a1 63%);
  cursor: pointer;
  z-index: 3;
}
.button_form:before {
  content: url("/src/images/icons/search_icon.svg");
}
.suggestions_wrap {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow-y: auto;
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  background-color: #ffff;
  z-index: 2;
  overflow-x: hidden;
  max-height: 100px;
}
.suggestions_wrap::-webkit-scrollbar {
  background-clip: padding-box;
  width: 5px;
  padding: 10px;
  height: 80%;
}
.suggestions_wrap::-webkit-scrollbar-track {
  background: #fff;
  margin-top: 15px;
  margin-bottom: 15px;
  border: 1px solid #0a0e17;
  border-radius: 20px;
}
.suggestions_wrap::-webkit-scrollbar-thumb {
  background: #0a0e17;
  border: 1px solid #0a0e17;
  border-radius: 20px;
}

.suggestions_wrap > div {
  height: 31px;
  padding: 5px 20px;
  font-size: 30px;
  width: 80%;
}
.suggestions_wrap > div:hover {
  color: #ac52d1;
}

.tag_wrap {
  display: inline-block;
  border-radius: 20px;
  border: none;
}
