.personal_page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: white;
}
.personal_account {
  display: flex;
  background-color: white;
  flex-direction: column;
  justify-content: space-between;
}
.basket {
  display: flex;
  gap: 5px;
}

@media screen and (max-width: 1080px) {
  .personal_account {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 750px) {
  .personal_account {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 375px) {
  .personal_page {
    display: block;
    background-color: white;
    padding: 39px 10px;
    min-height: 710px;
  }
  .personal_account {
    display: flex;
    flex-direction: column;
    gap: 39px;
  }
  .mobile_style {
    padding-top: 39px;
  }
}
