.tab_box {
  padding-right: 30px;
}
.tab_box p {
  font-size: 25px;
}
.tab_box p:hover {
  color: #ac52d1;
  cursor: pointer;
}
@media (max-width: 520px) and (min-width: 376px) {
  .tab_box p {
    font-size: 16px;
  }
}
