body {
  margin: 0;
}

.page {
  max-width: 1600px;
  min-width: 320px;
  margin: 0 auto 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  /* text-rendering: optimizeLegibility; */
  background-color: #FDFFA1;
  background-size: contain;
}

.btn {
  background: linear-gradient(180deg, #CE8EC0 0%, rgba(194, 139, 228, 0.63) 77.16%);
  border-radius: 20px;
  cursor: pointer;
  border: none;
  font-style: normal;
  font-weight: 500;
  font-family: 'Rubik';
}