.header {
  margin: 0;
  padding: 15px 30px 15px;
  background-color: #FFFFDA;
  height: 80px;
  border-radius: 0px 0px 20px 20px;
  box-sizing: border-box;
}

.header__logo {
  margin: 0;
  padding: 0;
  height: 50px;
  width: 68px;
}