.meme {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  row-gap: 10px;
}

.meme__image {
  position: relative;
  height: 360px;
  width: 453px;
  object-fit: cover;
  object-position: center;
  border-radius: 20px;
}

.meme__image-hover {
  background: linear-gradient(0deg, rgba(66, 14, 92, 0.36), rgba(66, 14, 92, 0.36));
  position: absolute;
  top: 0;
  border-radius: 20px;
  height: 360px;
  width: 453px;
  z-index: 1;
  opacity: 0;
  transition: .1s ease;
}

.meme__image-hover:hover {
  transition: .1s ease;
  opacity: 1;
  cursor: pointer;
}

.meme:hover>.meme__create-btn {
  background-color: #FCFF70;
}

.meme__create-btn:active {
  background-color: #F8FD22;
}

.meme__like {
  position: absolute;
  top: 25px;
  left: 25px;
  z-index: 2;
  cursor: pointer;
}

.meme__create-btn {
  color: #1E1D1D;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  background-color: #FDFFA1;
  width: 184px;
  height: 54px;
  border: none;
  border-radius: 8px;
  box-shadow: 2px 5px 9px rgba(0, 0, 0, 0.64);
  cursor: pointer;
  z-index: 3;
  position: absolute;
  top: 286px;
}

.meme__create-btn:hover {
  background-color: #F8FD22;
}

.meme__create-btn:hover~.meme__image-hover {
  opacity: 1;
}

.meme__tags-container {
  height: 96px;
  position: relative;
  width: 100%;
}

.meme__tags {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  column-gap: 5px;
  align-items: flex-start;
  flex-wrap: wrap;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #1E1D1D;
  align-self: flex-start;
  padding: 0;
  max-height: 48px;
  overflow: hidden;
  width: 100%;
}

.meme__tags_more {
  max-height: 96px;
  position: absolute;
  top: 0;
}

.meme__bth-see-more {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #1E1D1D;
  cursor: pointer;
}