.meme {
  height: 360px;
  width: 100%;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.meme__create-btn {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  background-color: #fdffa1;
  width: 184px;
  height: 54px;
  border: none;
  border-radius: 8px;
  box-shadow: 2px 5px 9px rgba(0, 0, 0, 0.64);
  margin: 260px 0 0;
  cursor: pointer;
}